
- name: Update AdditionalConfiguration
  template:
    src=AdditionalConfiguration.php.j2
    dest={{ deploy_to }}/typo3conf/AdditionalConfiguration.php
    force=no

- name: Generate Package States File
  command: /var/www/vendor/bin/typo3cms install:generatepackagestates

- name: Deactivate unused core extensions
  command: /var/www/vendor/bin/typo3cms extension:deactivate --extension-keys {{ inactiveExtensions|join(', ') }}

- name: Activate extensions
  command: /var/www/vendor/bin/typo3cms extension:activate --extension-keys {{ activeCoreExtensions|join(', ') }}
  
- name: Generate Package States File
  command: /var/www/vendor/bin/typo3cms configuration:set SYS/systemLocale en_US.UTF-8


- name: Restart Nginx
  service: name=nginx state=restarted 